//Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

//reset style
*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    // defined what 1rem is
    font-size: 62.5%;
}
//structure

body{
    box-sizing: border-box;
}

body{
  font-family:,serif;
  font-weight: 400;
  line-height: 1.7;
  color:#000;
  padding: 3rem;
}

.title{
    
}